---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/postgresql.cnpg.io/cluster_v1.json
apiVersion: postgresql.cnpg.io/v1
kind: Cluster
metadata:
  name: postgres16
spec:
  instances: 3
  # renovate: datasource=docker depName=ghcr.io/cloudnative-pg/postgresql versioning=redhat
  imageName: ghcr.io/cloudnative-pg/postgresql:16.2-16
  primaryUpdateStrategy: unsupervised
  storage:
    size: 20Gi
    storageClass: openebs-hostpath

  superuserSecret:
    name: &secretName cloudnative-pg-secret
  enableSuperuserAccess: true

  postgresql:
    parameters:
      max_connections: "400"
      shared_buffers: 256MB

  resources:
    requests:
      cpu: 50m
      memory: 256Mi
    limits:
      memory: 4Gi
  monitoring:
    enablePodMonitor: true

  backup:
    retentionPolicy: 7d
    barmanObjectStore: &barmanObjectStore
      data:
        compression: bzip2
      wal:
        compression: bzip2
        maxParallel: 8
      destinationPath: &dest s3://cnpg/
      endpointURL: ${SECRET_GARAGE_S3_ENDPOINT}
      # Note: serverName version needs to be incremented
      # when recovering from an existing cnpg cluster
      serverName: &currentCluster postgres16-v8
      # NEW: Garage credentials
      s3Credentials: &garageCredentials
        accessKeyId:
          name: *secretName
          key: s3-access-key-id-garage
        secretAccessKey:
          name: *secretName
          key: s3-secret-access-key-garage
  # Note: previousCluster needs to be set to the name of the previous
  # cluster when recovering from an existing cnpg cluster
  bootstrap:
    recovery:
      # Should match name in externalClusters
      source: &previousCluster postgres16-v7
  # #   # Use for major upgrades or creating new cluster from existing
  #   initdb:
  #     import:
  #       type: monolith
  #       databases: ["*"]
  #       roles: ["*"]
  #       source:
  #         externalCluster: old-cluster
  # Note: externalClusters is needed when recovering from an existing cnpg cluster
  externalClusters:
    # for s3 restore
    - name: *previousCluster
      barmanObjectStore: &r2BarmanObjectStore
        data:
          compression: bzip2
        wal:
          compression: bzip2
          maxParallel: 8
        destinationPath: s3://cloudnative-pg/
        endpointURL: https://${SECRET_CLOUDFLARE_ACCOUNT_ID}.r2.cloudflarestorage.com
        serverName: postgres16-v7
        s3Credentials: &r2Credentials
          accessKeyId:
            name: *secretName
            key: s3-access-key-id
          secretAccessKey:
            name: *secretName
            key: s3-secret-access-key
    # for initdb restore
    # - name: old-cluster
    #   connectionParameters:
    #     host: postgres16-rw.default.svc.cluster.local
    #     user: postgres
    #     dbname: postgres
    #   password:
    #     name: *secretName
    #     key: password
