---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app democratic-csi
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: democratic-csi
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    csiDriver:
      name: org.democratic-csi.truenas
    storageClasses:
      - name: truenas-nfs
        defaultClass: false
        reclaimPolicy: Delete
        volumeBindingMode: Immediate
        allowVolumeExpansion: true
        parameters:
          fsType: nfs
          detachedVolumesFromSnapshots: "false"
        mountOptions:
          - noatime
          - nfsvers=3
      - name: truenas-iscsi
        defaultClass: false
        reclaimPolicy: Delete
        volumeBindingMode: Immediate
        allowVolumeExpansion: true
        parameters:
          fsType: ext4
          detachedVolumesFromSnapshots: "false"
    volumeSnapshotClasses:
      - name: truenas-nfs
        parameters:
          detachedSnapshots: "true"
      - name: truenas-iscsi
        parameters:
          detachedSnapshots: "true"
    driver:
      config:
        driver: freenas-api-nfs
        instance_id: truenas-nfs
        httpConnection:
          protocol: https
          host: ${SECRET_NFS_SERVER}
          port: 443
          apiKey: ${DEMOCRATIC_CSI_API_KEY}
          allowInsecure: false
        zfs:
          datasetParentName: storage/k8s/nfs/v
          detachedSnapshotsDatasetParentName: storage/k8s/nfs/s
          datasetEnableQuotas: true
          datasetEnableReservation: false
          datasetPermissionsMode: "0777"
          datasetPermissionsUser: 0
          datasetPermissionsGroup: 0
        nfs:
          shareHost: ${SECRET_NFS_SERVER}
          shareAlldirs: false
          shareAllowedHosts: []
          shareAllowedNetworks: []
          shareMaprootUser: root
          shareMaprootGroup: root
          shareMapallUser: ""
          shareMapallGroup: ""
    controller:
      driver:
        image:
          tag: v1.10.1
      resources:
        requests:
          cpu: 50m
          memory: 128Mi
        limits:
          memory: 512Mi
    node:
      driver:
        image:
          tag: v1.10.1
      resources:
        requests:
          cpu: 50m
          memory: 128Mi
        limits:
          memory: 256Mi

