---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1alpha1
kind: Component
patches:
  - target:
      group: external-secrets.io
      version: v1
      kind: ExternalSecret
    path: ./externalsecret-refresh-interval.patch.yaml

