---
originRequest:
  originServerName: "external.${SECRET_DOMAIN}"

ingress:
  - hostname: "hello.${SECRET_DOMAIN}"
    service: hello_world

  - hostname: "echo-server-external.${SECRET_DOMAIN}"
    service: http://cilium-gateway-external.kube-system.svc.cluster.local

  # Applications migrated to Gateway API
  - hostname: "flux-webhook.${SECRET_DOMAIN}"
    service: http://cilium-gateway-external.kube-system.svc.cluster.local
  - hostname: "auth.${SECRET_DOMAIN}"
    service: http://cilium-gateway-external.kube-system.svc.cluster.local
  - hostname: "status.${SECRET_DOMAIN}"
    service: http://cilium-gateway-external.kube-system.svc.cluster.local
  - hostname: "kromgo.${SECRET_DOMAIN}"
    service: http://cilium-gateway-external.kube-system.svc.cluster.local
  - hostname: "joplin-server.${SECRET_DOMAIN}"
    service: http://cilium-gateway-external.kube-system.svc.cluster.local

  - hostname: "${SECRET_DOMAIN}"
    service: https://ingress-nginx-external-controller.network.svc.cluster.local:443
  - hostname: "*.${SECRET_DOMAIN}"
    service: https://ingress-nginx-external-controller.network.svc.cluster.local:443

  - hostname: "${SECRET_DOMAIN_BLOG}"
    service: https://ingress-nginx-external-controller.network.svc.cluster.local:443
  - hostname: "*.${SECRET_DOMAIN_BLOG}"
    service: https://ingress-nginx-external-controller.network.svc.cluster.local:443

  - hostname: "${SECRET_DOMAIN_BLOGCOM}"
    service: https://ingress-nginx-external-controller.network.svc.cluster.local:443
  - hostname: "*.${SECRET_DOMAIN_BLOGCOM}"
    service: https://ingress-nginx-external-controller.network.svc.cluster.local:443

  # Plex migrated to Gateway API
  - hostname: "plex.${SECRET_DOMAIN_MEDIA}"
    service: http://cilium-gateway-external.kube-system.svc.cluster.local

  - hostname: "${SECRET_DOMAIN_MEDIA}"
    service: https://ingress-nginx-external-controller.network.svc.cluster.local:443
  - hostname: "*.${SECRET_DOMAIN_MEDIA}"
    service: https://ingress-nginx-external-controller.network.svc.cluster.local:443

  - hostname: "${SECRET_DOMAIN_LAKE}"
    service: https://ingress-nginx-external-controller.network.svc.cluster.local:443
  - hostname: "*.${SECRET_DOMAIN_LAKE}"
    service: https://ingress-nginx-external-controller.network.svc.cluster.local:443

  - hostname: "${SECRET_DOMAIN_YOYO}"
    service: https://ingress-nginx-external-controller.network.svc.cluster.local:443
  - hostname: "*.${SECRET_DOMAIN_YOYO}"
    service: https://ingress-nginx-external-controller.network.svc.cluster.local:443

  - hostname: "${SECRET_DOMAIN_BON}"
    service: https://ingress-nginx-external-controller.network.svc.cluster.local:443
  - hostname: "*.${SECRET_DOMAIN_BON}"
    service: https://ingress-nginx-external-controller.network.svc.cluster.local:443

  - service: http_status:404



