---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app influxdb
spec:
  commonMetadata:
    labels:
      app.kubernetes.io/name: *app
  dependsOn:
    - name: external-secrets-stores
      namespace: external-secrets
    - name: longhorn
      namespace: longhorn-system
  path: ./kubernetes/apps/database/influxdb/app
  prune: true
  sourceRef:
    kind: GitRepository
    name: home-kubernetes
    namespace: flux-system
  targetNamespace: database
  wait: true
  interval: 30m
  retryInterval: 1m
  timeout: 5m
  postBuild:
    substitute:
      APP: *app
      NS: database
      GATUS_SUBDOMAIN: influxdb
      # VolSync configuration for Longhorn
      VOLSYNC_CAPACITY: 20Gi
      VOLSYNC_STORAGECLASS: longhorn
      VOLSYNC_CACHE_CLASS: longhorn-1-replica
      VOLSYNC_CLONE_STORAGECLASS: longhorn-1-replica
      VOLSYNC_SNAPSHOTCLASS: longhorn-snapclass
      # InfluxDB runs as influxdb user (UID 1000)
      VOLSYNC_RUN_AS_USER: "1000"
      VOLSYNC_RUN_AS_GROUP: "1000"
      VOLSYNC_FS_GROUP: "1000"

