---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: democratic-csi-iscsi-test
  namespace: default
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: truenas-iscsi
  resources:
    requests:
      storage: 1Gi

