---
apiVersion: v1
kind: ConfigMap
metadata:
  name: graphite-exporter-mapping
  labels:
    substitution.flux.home.arpa/disabled: "true"
data:
  graphite_mapping.conf: |
    mappings:
    ################################################
    # memory mapping
    ################################################
    - match: 'truenas\.(.*)\.system\.ram\.(.*)'
      match_type: "regex"
      name: "physical_memory"
      labels:
        job: "truenas"
        instance: "${1}"
        kind: "${2}"
    - match: 'truenas\.(.*)\.mem\.(.*)\.(.*)'
      match_type: "regex"
      name: "memory_${2}"
      labels:
        job: "truenas"
        instance: "${1}"
        kind: "${3}"
    - match: 'truenas\.(.*)\.system\.swap\.(.*)'
      match_type: "regex"
      name: "swap"
      labels:
        job: "truenas"
        instance: "${1}"
        kind: "${2}"
    ################################################
    # disk smart metrics
    ################################################
    - match: 'truenas\.(.*)\.smart\.log\.smart\.disktemp\.(.*)\.(.*)'
      match_type: "regex"
      name: "disk_temperature"
      labels:
        job: "truenas"
        instance: "${1}"
        serial: "${2}"
    - match: 'truenas\.(.*)\.smart_log_smart\.disktemp\.(.*)\.(.*)'
      match_type: "regex"
      name: "disk_temperature"
      labels:
        job: "truenas"
        instance: "${1}"
        serial: "${2}"
    ################################################
    # disk operation mappings
    ################################################
    - match: 'truenas\.(.*)\.disk\.(.*)\.(.*)'
      match_type: "regex"
      name: "disk_io"
      labels:
        job: "truenas"
        instance: "${1}"
        disk: "${2}"
        op: "${3}"
    - match: 'truenas\.(.*)\.disk_ops\.(.*)\.(.*)'
      match_type: "regex"
      name: "disk_io_ops"
      labels:
        job: "truenas"
        instance: "${1}"
        disk: "${2}"
        op: "${3}"
    - match: 'truenas\.(.*)\.disk_backlog\.(.*)\.backlog'
      match_type: "regex"
      name: "disk_io_backlog"
      labels:
        job: "truenas"
        instance: "${1}"
        disk: "${2}"
    - match: 'truenas\.(.*)\.disk_busy\.(.*)\.busy'
      match_type: "regex"
      name: "disk_busy"
      labels:
        job: "truenas"
        instance: "${1}"
        disk: "${2}"
    - match: 'truenas\.(.*)\.disk_util\.(.*)\.utilization'
      match_type: "regex"
      name: "disk_utilization"
      labels:
        job: "truenas"
        instance: "${1}"
        disk: "${2}"
    - match: 'truenas\.(.*)\.disk_await\.(.*)\.(.*)'
      match_type: "regex"
      name: "disk_await"
      labels:
        job: "truenas"
        instance: "${1}"
        disk: "${2}"
        op: "${3}"
    - match: 'truenas\.(.*)\.system\.io\.(.*)'
      match_type: "regex"
      name: "system_io"
      labels:
        job: "truenas"
        instance: "${1}"
        op: "${2}"
    ################################################
    # CPU mapping
    ################################################
    - match: 'truenas\.(.*)\.system\.intr\.interrupts'
      match_type: "regex"
      name: "interrupts"
      labels:
        job: "truenas"
        instance: "${1}"
        kind: "hard"
    - match: 'truenas\.(.*)\.system\.cpu\.softirq'
      match_type: "regex"
      name: "interrupts"
      labels:
        job: "truenas"
        instance: "${1}"
        kind: "soft"
    - match: 'truenas\.(.*)\.system\.ctxt\.switches'
      match_type: "regex"
      name: "context_switches"
      labels:
        job: "truenas"
        instance: "${1}"
    - match: 'truenas\.(.*)\.system\.cpu\.(.*)'
      match_type: "regex"
      name: "cpu_total"
      labels:
        job: "truenas"
        instance: "${1}"
        kind: "${2}"
    - match: 'truenas\.(.*)\.cputemp\.temperatures\.(.*)'
      match_type: "regex"
      name: "cpu_temperature"
      labels:
        job: "truenas"
        instance: "${1}"
        cpu: "cpu${2}"
    - match: 'truenas\.(.*)\.cpu\.cpufreq\.(.*)'
      match_type: "regex"
      name: "cpu_frequency"
      labels:
        job: "truenas"
        instance: "${1}"
        cpu: "${2}"
    - match: 'truenas\.(.*)\.cpu\.(.*)\.(.*)'
      match_type: "regex"
      name: "cpu_usage"
      labels:
        job: "truenas"
        instance: "${1}"
        cpu: "${2}"
        kind: "${3}"
    ################################################
    # uptime and load mapping
    ################################################
    - match: 'truenas\.(.*)\.system\.uptime\.uptime'
      match_type: "regex"
      name: "uptime"
      labels:
        job: "truenas"
        instance: "${1}"
    - match: 'truenas\.(.*)\.system\.load\.(.*)'
      match_type: "regex"
      name: "system_load"
      labels:
        job: "truenas"
        instance: "${1}"
        kind: "${2}"
    ################################################
    # process mapping
    ################################################
    - match: 'truenas\.(.*)\.system\.forks\.started'
      match_type: "regex"
      name: "processes_forks"
      labels:
        job: "truenas"
        instance: "${1}"
    - match: 'truenas\.(.*)\.system\.processes\.(.*)'
      match_type: "regex"
      name: "processes"
      labels:
        job: "truenas"
        instance: "${1}"
        kind: "${2}"
    ################################################
    # zfs mappings
    ################################################
    - match: 'truenas\.(.*)\.zfs\.(.*)\.(.*)'
      match_type: "regex"
      name: "zfs_${2}"
      labels:
        job: "truenas"
        instance: "${1}"
        op: "${3}"
    - match: 'truenas\.(.*)\.zfspool\.state_(.*)\.(.*)'
      match_type: "regex"
      name: "zfs_pool"
      labels:
        job: "truenas"
        instance: "${1}"
        pool: "${2}"
        state: "${3}"
    ################################################
    # network mappings
    ################################################
    - match: 'truenas\.(.*)\.net\.(.*)\.(.*)'
      match_type: "regex"
      name: "interface_io"
      labels:
        job: "truenas"
        instance: "${1}"
        interface: "${2}"
        op: "${3}"
    - match: 'truenas\.(.*)\.net_speed\.(.*)\.speed'
      match_type: "regex"
      name: "interface_speed"
      labels:
        job: "truenas"
        instance: "${1}"
        interface: "${2}"
    - match: 'truenas\.(.*)\.net_packets\.(.*)\.(.*)'
      match_type: "regex"
      name: "interface_packets"
      labels:
        job: "truenas"
        instance: "${1}"
        interface: "${2}"
        op: "${3}"
    - match: 'truenas\.(.*)\.net_errors\.(.*)\.(.*)'
      match_type: "regex"
      name: "interface_errors"
      labels:
        job: "truenas"
        instance: "${1}"
        interface: "${2}"
        op: "${3}"
    - match: 'truenas\.(.*)\.net_drops\.(.*)\.(.*)'
      match_type: "regex"
      name: "interface_drops"
      labels:
        job: "truenas"
        instance: "${1}"
        interface: "${2}"
        op: "${3}"
    - match: 'truenas\.(.*)\.system\.net\.(.*)'
      match_type: "regex"
      name: "system_net_io"
      labels:
        job: "truenas"
        instance: "${1}"
        op: "${2}"
    ################################################
    # NFS mappings
    ################################################
    - match: 'truenas\.(.*)\.nfsd\.(.*)\.(.*)'
      match_type: "regex"
      name: "nfs_${2}"
      labels:
        job: "truenas"
        instance: "${1}"
        op: "${3}"
    ################################################
    # arcstat mapping
    ################################################
    - match: 'truenas\.(.*)\.truenas_arcstats\.(.*)\.(.*)'
      match_type: "regex"
      name: "truenas_arcstats"
      labels:
        job: "truenas"
        type: "${2}"
        subtype: "${3}"
        instance: "${1}"
    ################################################
    # disk space and inodes
    ################################################
    - match: 'truenas\.(.*)\.disk_space\.(.*)\.used'
      match_type: "regex"
      name: "disk_bytes_used"
      labels:
        job: "truenas"
        mountpoint: "${2}"
        instance: "${1}"
    - match: 'truenas\.(.*)\.disk_space\.(.*)\.avail'
      match_type: "regex"
      name: "disk_bytes_avail"
      labels:
        job: "truenas"
        mountpoint: "${2}"
        instance: "${1}"
    - match: 'truenas\.(.*)\.disk_inodes\.(.*)\.used'
      match_type: "regex"
      name: "disk_inodes_used"
      labels:
        job: "truenas"
        mountpoint: "${2}"
        instance: "${1}"
    - match: 'truenas\.(.*)\.disk_inodes\.(.*)\.avail'
      match_type: "regex"
      name: "disk_inodes_avail"
      labels:
        job: "truenas"
        mountpoint: "${2}"
        instance: "${1}"
    ################################################
    # services mapping
    ################################################
    - match: 'truenas\.(.*)\.services\.cpu\.(.*)'
      match_type: "regex"
      name: "services_cpu"
      labels:
        job: "truenas"
        instance: "${1}"
        service: "${2}"
    - match: 'truenas\.(.*)\.services\.mem_usage\.(.*)'
      match_type: "regex"
      name: "services_mem"
      labels:
        job: "truenas"
        instance: "${1}"
        service: "${2}"

