---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2beta2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app graphite-exporter
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: graphite-exporter
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  dependsOn:
    - name: kube-prometheus-stack
      namespace: observability
  values:
    controllers:
      graphite-exporter:
        type: deployment
        replicas: 1
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: prom/graphite-exporter
              tag: v0.16.0
            args:
              - --graphite.mapping-config=/config/graphite_mapping.conf
              - --graphite.listen-address=:9109
            probes:
              liveness:
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /metrics
                    port: 9108
                  initialDelaySeconds: 10
                  periodSeconds: 10
              readiness:
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /metrics
                    port: 9108
                  initialDelaySeconds: 5
                  periodSeconds: 5
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }
            resources:
              requests:
                cpu: 10m
                memory: 64Mi
              limits:
                memory: 256Mi
        pod:
          securityContext:
            runAsUser: 65534
            runAsGroup: 65534
            runAsNonRoot: true
            fsGroup: 65534
            fsGroupChangePolicy: OnRootMismatch
    service:
      app:
        controller: graphite-exporter
        ports:
          http:
            port: 9108
            protocol: TCP
      graphite:
        controller: graphite-exporter
        type: LoadBalancer
        annotations:
          lbipam.cilium.io/ips: "${SVC_GRAPHITE_EXPORTER_ADDR}"
        ports:
          graphite-tcp:
            port: 9109
            protocol: TCP
          graphite-udp:
            port: 9109
            protocol: UDP
    serviceMonitor:
      app:
        serviceName: graphite-exporter-app
        endpoints:
          - port: http
            scheme: http
            path: /metrics
            interval: 30s
    persistence:
      config:
        type: configMap
        name: graphite-exporter-mapping
        globalMounts:
          - path: /config/graphite_mapping.conf
            subPath: graphite_mapping.conf
            readOnly: true

