---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: "${APP}"
spec:
  accessModes: ["${VOLSYNC_ACCESSMODES:-ReadWriteOnce}"]
  dataSourceRef:
    kind: ReplicationDestination
    apiGroup: volsync.backube
       name: "${APP}-dst-${VOLSYNC_RESTORE_SOURCE:-local}" # or "r2" for remote
  resources:
    requests:
      storage: "${VOLSYNC_CAPACITY:-20Gi}"
  storageClassName: "${VOLSYNC_STORAGECLASS:-truenas-nfs}"

