---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: download
components:
  - ../../components/common
resources:
  - ./namespace.yaml
  - ./autobrr/ks.yaml
  - ./cross-seed/ks.yaml
  - ./qbittorrent/ks.yaml
  - ./sabnzbd/ks.yaml
  - ./unpackerr/ks.yaml
