---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/external-secrets.io/externalsecret_v1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: &name homepage-secret
spec:
  secretStoreRef:
    name: bitwarden-secrets-manager
    kind: ClusterSecretStore

  target:
    name: *name
    template:
      engineVersion: v2
      data:
        ## Network / Infrastructure
        HOMEPAGE_VAR_CLOUDFLARED_ACCOUNTID: "{{ .Cloudflare__AccountId }}"
        HOMEPAGE_VAR_CLOUDFLARED_TUNNELID: "{{ .Cloudflare__TunnelId }}"
        HOMEPAGE_VAR_CLOUDFLARED_API_TOKEN: "{{ .Cloudflare__ApiToken }}"
        HOMEPAGE_VAR_UNIFI_USERNAME: "{{ .Unifi__User }}"
        HOMEPAGE_VAR_UNIFI_PASSWORD: "{{ .Unifi__Pass }}"
        HOMEPAGE_VAR_TRUENAS_APIKEY: "{{ .Homepage__TrueNasApiKey }}"
        HOMEPAGE_VAR_TRUENAS_HOST: "{{ .Homepage__TrueNasHost }}"
        ## Home
        HOMEPAGE_VAR_HASS_TOKEN: "{{ .HomeAssistant__Token }}"
        ## Downloads
        HOMEPAGE_VAR_AUTOBRR_TOKEN: "{{ .Autobrr__ApiKey }}"
        HOMEPAGE_VAR_QBITTORRENT_USERNAME: "{{ .Qbittorrent__Username }}"
        HOMEPAGE_VAR_QBITTORRENT_PASSWORD: "{{ .Qbittorrent__Password }}"
        HOMEPAGE_VAR_SABNZBD_TOKEN: "{{ .Sabnzbd__ApiKey }}"
        ## Media - *arr Apps
        HOMEPAGE_VAR_BAZARR_TOKEN: "{{ .Bazarr__ApiKey }}"
        HOMEPAGE_VAR_LIDARR_TOKEN: "{{ .Lidarr__ApiKey }}"
        HOMEPAGE_VAR_PROWLARR_TOKEN: "{{ .Prowlarr__ApiKey }}"
        HOMEPAGE_VAR_RADARR_TOKEN: "{{ .Radarr__ApiKey }}"
        HOMEPAGE_VAR_READARR_AUDIOBOOKS_TOKEN: "{{ .ReadarrAudiobooks__ApiKey }}"
        HOMEPAGE_VAR_READARR_EBOOKS_TOKEN: "{{ .ReadarrEbooks__ApiKey }}"
        HOMEPAGE_VAR_SONARR_TOKEN: "{{ .Sonarr__ApiKey }}"
        ## Photos
        HOMEPAGE_VAR_IMMICH_TOKEN: "{{ .Immich__ApiKey }}"
        ## Media - Streaming
        HOMEPAGE_VAR_JELLYFIN_TOKEN: "{{ .Jellyfin__ApiKey }}"
        HOMEPAGE_VAR_PLEX_TOKEN: "{{ .Plex__Token }}"
        HOMEPAGE_VAR_TAUTULLI_TOKEN: "{{ .Tautulli__ApiKey }}"
        ## Observability
        HOMEPAGE_VAR_GRAFANA_USERNAME: "{{ .Homepage__GrafanaClientId }}"
        HOMEPAGE_VAR_GRAFANA_PASSWORD: "{{ .Homepage__GrafanaClientSecret }}"
        ## Location
        HOMEPAGE_VAR_LATITUDE: "{{ .Homepage__Latitude }}"
        HOMEPAGE_VAR_LONGITUDE: "{{ .Homepage__Longitude }}"

  dataFrom:
    - extract:
        key: cloudflare
    - extract:
        key: unifi
    - extract:
        key: homepage
    - extract:
        key: homeassistant
    - extract:
        key: autobrr
    - extract:
        key: qbittorrent
    - extract:
        key: sabnzbd
    - extract:
        key: bazarr
    - extract:
        key: lidarr
    - extract:
        key: prowlarr
    - extract:
        key: radarr
    - extract:
        key: readarr-audiobooks
    - extract:
        key: readarr-ebooks
    - extract:
        key: sonarr
    - extract:
        key: immich
    - extract:
        key: jellyfin
    - extract:
        key: plex
    - extract:
        key: tautulli
