---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: homepage
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: homepage
  maxHistory: 2
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    serviceAccount:
      homepage:
        enabled: true
    defaultPodOptions:
      tolerations:
        - key: "node.kubernetes.io/low-power"
          operator: "Equal"
          value: "raspberry-pi"
          effect: "NoSchedule"
      affinity:
        nodeAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
            - weight: 100
              preference:
                matchExpressions:
                  - key: "kubernetes.io/hostname"
                    operator: "In"
                    values:
                      - "jormungandr4"
    controllers:
      main:
        type: deployment
        annotations:
          reloader.stakater.com/auto: "true"
        serviceAccount:
          identifier: homepage
        containers:
          main:
            image:
              # renovate: datasource=github-releases depName=gethomepage/homepage
              repository: ghcr.io/gethomepage/homepage
              tag: v1.8.0
            env:
              TZ: "${TIMEZONE}"
              LOG_LEVEL: "debug"
              HOMEPAGE_ALLOWED_HOSTS: "homepage.${SECRET_DOMAIN}"
            envFrom:
              - secretRef:
                  name: homepage-secret
            resources:
              requests:
                cpu: 15m
                memory: 100Mi
              limits:
                memory: 1Gi
    service:
      main:
        controller: main
        ports:
          http:
            port: 3000
    ingress:
      main:
        enabled: false
    persistence:
      config:
        enabled: true
        type: configMap
        name: homepage-config
        globalMounts:
          - subPath: bookmarks.yaml
            path: /app/config/bookmarks.yaml
          - subPath: docker.yaml
            path: /app/config/docker.yaml
          - subPath: kubernetes.yaml
            path: /app/config/kubernetes.yaml
          - subPath: services.yaml
            path: /app/config/services.yaml
          - subPath: settings.yaml
            path: /app/config/settings.yaml
          - subPath: widgets.yaml
            path: /app/config/widgets.yaml

