---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app autobrr
spec:
  chartRef:
    kind: OCIRepository
    name: autobrr
  interval: 1h
  values:
    controllers:
      autobrr:
        type: deployment
        annotations:
          reloader.stakater.com/auto: "true"
        initContainers:
          01-init-db:
            image:
              repository: ghcr.io/home-operations/postgres-init
              tag: rolling
            envFrom:
              - secretRef:
                  name: autobrr-secret
        containers:
          app:
            image:
              repository: ghcr.io/autobrr/autobrr
              # renovate: datasource=docker depName=ghcr.io/autobrr/autobrr
              tag: v1.71.0
            env:
              TZ: "${TIMEZONE}"
              AUTOBRR__CHECK_FOR_UPDATES: "false"
              AUTOBRR__HOST: 0.0.0.0
              AUTOBRR__PORT: &port 7474
              AUTOBRR__LOG_LEVEL: INFO
            envFrom:
              - secretRef:
                  name: autobrr-secret
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /api/healthz/liveness
                    port: *port
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: {drop: ["ALL"]}
            resources:
              requests:
                cpu: 10m
                memory: 128Mi
              limits:
                memory: 512Mi
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 568
        runAsGroup: 568
        fsGroup: 568
        fsGroupChangePolicy: OnRootMismatch
    service:
      app:
        controller: autobrr
        ports:
          http:
            port: *port
    route:
      app:
        annotations:
          gatus.home-operations.com/endpoint: |
            group: download
          gethomepage.dev/enabled: "true"
          gethomepage.dev/name: "Autobrr"
          gethomepage.dev/group: "Downloads"
          gethomepage.dev/icon: "autobrr.png"
          gethomepage.dev/description: "Torrent Automation"
          gethomepage.dev/widget.type: "autobrr"
          gethomepage.dev/widget.url: "http://autobrr.download.svc.cluster.local:7474"
          gethomepage.dev/widget.key: "{{`{{HOMEPAGE_VAR_AUTOBRR_TOKEN}}`}}"
        labels:
          auth: authentik
        parentRefs:
          - name: internal
            namespace: network
            sectionName: https
        hostnames:
          - autobrr.${SECRET_DOMAIN}
    persistence:
      config:
        existingClaim: *app
        globalMounts:
          - path: /config
      tmp:
        type: emptyDir

