---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/external-secrets.io/externalsecret_v1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: &name cross-seed-secret
spec:
  secretStoreRef:
    name: bitwarden-secrets-manager
    kind: ClusterSecretStore
  target:
    name: *name
    template:
      engineVersion: v2
      data:
        config.js: |
          module.exports = {
            delay: 30,
            qbittorrentUrl: "http://qbittorrent-app.download.svc.cluster.local:8080",
            torznab: [
              "http://prowlarr.media.svc.cluster.local:9696/3/api?apikey={{ .Prowlarr__ApiKey }}",
            ],
            action: "inject",
            includeEpisodes: true,
            includeSingleEpisodes: true,
            includeNonVideos: true,
            duplicateCategories: true,
            matchMode: "safe",
            skipRecheck: true,
            outputDir: "/media/downloads/torrents/cross-seed",
            torrentDir: "/config/qBittorrent/BT_backup",
          };
  dataFrom:
    - extract:
        key: cross-seed
    - extract:
        key: prowlarr

