---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app cross-seed
spec:
  chartRef:
    kind: OCIRepository
    name: cross-seed
  interval: 1h
  values:
    controllers:
      cross-seed:
        type: deployment
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/cross-seed/cross-seed
              # renovate: datasource=docker depName=ghcr.io/cross-seed/cross-seed
              tag: 6.0.0-43
            args: ["daemon"]
            env:
              TZ: America/Chicago
              PORT: &port 2468
            probes:
              liveness:
                enabled: true
              readiness:
                enabled: true
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: {drop: ["ALL"]}
            resources:
              requests:
                cpu: 10m
                memory: 128Mi
              limits:
                memory: 512Mi
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 568
        runAsGroup: 568
        fsGroup: 568
        fsGroupChangePolicy: OnRootMismatch
    service:
      app:
        controller: cross-seed
        ports:
          http:
            port: *port
    persistence:
      config:
        existingClaim: *app
        globalMounts:
          - path: /config
      config-file:
        type: secret
        name: cross-seed-secret
        globalMounts:
          - path: /config/config.js
            subPath: config.js
            readOnly: true
      qbittorrent-config:
        existingClaim: qbittorrent
        globalMounts:
          - path: /config/qBittorrent
            subPath: qBittorrent
            readOnly: true
      media:
        type: nfs
        server: ${SECRET_NFS_SERVER:=temp}
        path: ${SECRET_NFS_MEDIA:=temp}
        globalMounts:
          - path: /media

