---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app audiobookshelf
spec:
  chartRef:
    kind: OCIRepository
    name: audiobookshelf
  interval: 1h
  values:
    controllers:
      audiobookshelf:
        type: deployment
        containers:
          app:
            image:
              repository: ghcr.io/advplyr/audiobookshelf
              # renovate: datasource=docker depName=ghcr.io/advplyr/audiobookshelf
              tag: 2.32.1
            env:
              TZ: "${TIMEZONE}"
              PORT: &port 80
              AUDIOBOOKSHELF_UID: 568
              AUDIOBOOKSHELF_GID: 568
              CONFIG_PATH: /config
              METADATA_PATH: /config/metadata
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /healthcheck
                    port: *port
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: {drop: ["ALL"]}
            resources:
              requests:
                cpu: 50m
                memory: 256Mi
              limits:
                memory: 1Gi
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 568
        runAsGroup: 568
        fsGroup: 568
        fsGroupChangePolicy: OnRootMismatch
    service:
      app:
        controller: audiobookshelf
        ports:
          http:
            port: *port
    route:
      app:
        annotations:
          gatus.home-operations.com/endpoint: |
            group: media
          gethomepage.dev/enabled: "true"
          gethomepage.dev/name: "Audiobookshelf"
          gethomepage.dev/group: "Books"
          gethomepage.dev/icon: "audiobookshelf.png"
          gethomepage.dev/description: "Audiobooks & Podcasts"
          gethomepage.dev/widget.type: "audiobookshelf"
          gethomepage.dev/widget.url: "http://audiobookshelf.media.svc.cluster.local:80"
          gethomepage.dev/widget.key: "{{`{{HOMEPAGE_VAR_AUDIOBOOKSHELF_TOKEN}}`}}"
        parentRefs:
          - name: internal
            namespace: network
            sectionName: https
        hostnames:
          - audiobooks.${SECRET_DOMAIN}
    persistence:
      config:
        existingClaim: *app
        globalMounts:
          - path: /config
      media:
        type: nfs
        server: ${SECRET_NFS_SERVER:=temp}
        path: ${SECRET_NFS_MEDIA:=temp}
        globalMounts:
          - path: /media

