---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app readarr-ebooks
spec:
  commonMetadata:
    labels:
      app.kubernetes.io/name: *app
  dependsOn:
    - name: cloudnative-pg-cluster
      namespace: database
    - name: external-secrets-stores
      namespace: external-secrets
    - name: rreading-glasses
  interval: 1h
  path: ./kubernetes/apps/media/readarr-ebooks/app
  prune: true
  sourceRef:
    kind: GitRepository
    name: home-kubernetes
    namespace: flux-system
  targetNamespace: media
  wait: false
  postBuild:
    substitute:
      APP: *app
      NS: media
      GATUS_PORT: "8787"
      GATUS_SERVICE: readarr-ebooks
      VOLSYNC_CAPACITY: 4Gi
      VOLSYNC_LOCAL_SCHEDULE: "*/30 * * * *"