---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app satisfactory
spec:
  commonMetadata:
    labels:
      app.kubernetes.io/name: *app
  path: ./kubernetes/apps/games/satisfactory/app
  prune: true
  sourceRef:
    kind: GitRepository
    name: home-kubernetes
    namespace: flux-system
  targetNamespace: games
  wait: false
  interval: 30m
  retryInterval: 1m
  timeout: 5m
  postBuild:
    substitute:
      APP: *app
      NS: games
      APP_UID: "1000"
      APP_GID: "1000"
      VOLSYNC_CAPACITY: 2Gi
      VOLSYNC_ACCESSMODES: ReadWriteOnce  # iSCSI doesn't support RWX
      VOLSYNC_RUN_AS_USER: "1000"
      VOLSYNC_RUN_AS_GROUP: "1000"
      VOLSYNC_FS_GROUP: "1000"
      VOLSYNC_STORAGECLASS: truenas-iscsi
      VOLSYNC_CACHE_CLASS: truenas-iscsi
      VOLSYNC_CLONE_STORAGECLASS: truenas-iscsi
      VOLSYNC_SNAPSHOTCLASS: truenas-iscsi-snapclass
      VOLSYNC_COPYMETHOD: Snapshot
      VOLSYNC_LOCAL_SCHEDULE: "0,30 * * * *"