---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/external-secrets.io/externalsecret_v1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: &name mealie-secret
spec:
  secretStoreRef:
    name: bitwarden-secrets-manager
    kind: ClusterSecretStore

  target:
    name: *name
    template:
      engineVersion: v2
      data:
        # Postgres Init
        INIT_POSTGRES_DBNAME: "{{ .Mealie__DbName }}"
        INIT_POSTGRES_HOST: postgres16-rw.database.svc.cluster.local
        INIT_POSTGRES_USER: "{{ .Mealie__PostgresUser }}"
        INIT_POSTGRES_PASS: "{{ .Mealie__PostgresPass }}"
        INIT_POSTGRES_SUPER_PASS: "{{ .Postgres__SuperPassword }}"
        # Database configuration
        DB_ENGINE: postgres
        POSTGRES_URL_OVERRIDE: postgresql://{{ .Mealie__PostgresUser }}:{{ .Mealie__PostgresPass }}@postgres16-rw.database.svc.cluster.local:5432/{{ .Mealie__DbName }}
        # OIDC configuration
        OIDC_CLIENT_ID: "{{ .Mealie__OidcClientId }}"
        OIDC_CLIENT_SECRET: "{{ .Mealie__OidcClientSecret }}"
  dataFrom:
    - extract:
        key: cloudnative-pg
    - extract:
        key: mealie

