---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: longhorn
  namespace: longhorn-system
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: longhorn
  values:
    # Allow Longhorn components to run on tainted nodes (for CSI volume mounts)
    # Note: jormungandr4 has storage disabled but can still mount Longhorn volumes
    global:
      tolerations:
        - key: "node.kubernetes.io/low-power"
          operator: "Equal"
          value: "raspberry-pi"
          effect: "NoSchedule"
    defaultSettings:
      createDefaultDiskLabeledNodes: true
      defaultReplicaCount: "3"
      # Allow system-managed components (CSI plugin, instance manager) on tainted nodes
      taintToleration: "node.kubernetes.io/low-power=raspberry-pi:NoSchedule"

