---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ./externalsecret.yaml
  - ./ocirepository.yaml
  - ./helmrelease.yaml
components:
  - ../../../../components/externalsecret-refresh
  # volsync removed - using NFS with NAS-level backups
  - ../../../../components/gatus-guarded

