---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app valheim
  namespace: games
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: valheim
  maxHistory: 3
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    defaultPodOptions:
      nodeSelector:
        kubernetes.io/arch: amd64

    controllers:
      main:
        type: deployment
        annotations:
          reloader.stakater.com/auto: "true"
        pod:
          securityContext:
            runAsUser: 111
            runAsGroup: 1000
            fsGroup: 1000
            fsGroupChangePolicy: OnRootMismatch
        containers:
          main:
            image:
              repository: docker.io/mbround18/valheim
              # renovate: datasource=docker depName=docker.io/mbround18/valheim
              tag: 3.5.0
            probes:
              liveness:
                enabled: false
              readiness:
                enabled: false
              startup:
                enabled: false
            env:
              PUID: 111
              PGID: 1000
              NAME: "SaturdayGK"
              PASSWORD:
                secretKeyRef:
                  name: valheim-secret
                  key: PASSWORD
              PUBLIC: 1
              TZ: "${TIMEZONE}"
              WORLD: "SaturdayGK"
              TYPE: "BepInEx"
              MODS: |
                Advize-PlantEasily-2.0.3
                Advize-PlantEverything-1.20.0
                ValheimModding-Jotunn-2.27.1
                ValheimModding-HookGenPatcher-0.0.4
                Numenos-InfinityTools-1.0.0
                shudnal-ExtraSlots-1.1.7
                blacks7ar-OdinsHares-1.3.1
                ValheimModding-YamlDotNet-16.3.1
              AUTO_UPDATE: 1
              AUTO_UPDATE_SCHEDULE: "0 8 * * *" # every day at 8am
              AUTO_UPDATE_PAUSE_WITH_PLAYERS: 1
              SCHEDULED_RESTART: 1
              SCHEDULED_RESTART_SCHEDULE: "0 9 * * *" # every day at 9am
              AUTO_BACKUP: 1
              AUTO_BACKUP_SCHEDULE: "0 */2 * * *"
              AUTO_BACKUP_REMOVE_OLD: 1
              AUTO_BACKUP_DAYS_TO_LIVE: 2
              AUTO_BACKUP_ON_UPDATE: 1
              AUTO_BACKUP_ON_SHUTDOWN: 1
              HTTP_PORT: 80
            resources:
              requests:
                cpu: 441m
                memory: 2539M
              limits:
                memory: 5120M
    service:
      main:
        controller: main
        type: LoadBalancer
        externalTrafficPolicy: Cluster
        annotations:
          external-dns.alpha.kubernetes.io/hostname: "valheim.${SECRET_DOMAIN_MEDIA}"
          io.cilium/lb-ipam-ips: "${SVC_VALHEIM_ADDR}"
        ports:
          http:
            port: 80
          gameplay:
            enabled: true
            port: 2456
            protocol: UDP
          auth:
            enabled: true
            port: 2457
            protocol: UDP
          voip:
            enabled: true
            port: 2458
            protocol: UDP
    persistence:
      server-cache:
        enabled: true
        existingClaim: valheim-gamedata
        globalMounts:
          - path: /home/steam/valheim/
            subPath: valheim-data
          - path: /home/steam/backups/
            subPath: backups
      config:
        enabled: true
        existingClaim: "${APP}"
        globalMounts:
          - path: /home/steam/.config/unity3d/IronGate/Valheim
          # BepInEx mod configurations - backed up via VolSync + synced via Syncthing
          - path: /home/steam/valheim/BepInEx/config
            subPath: bepinex-config


