---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: valheim-gamedata
  namespace: games
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 50Gi
  storageClassName: longhorn
