---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app democratic-csi-nfs
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: democratic-csi
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    csiDriver:
      name: org.democratic-csi.truenas
      storageCapacity: true
    storageClasses:
      - name: truenas-nfs
        defaultClass: false
        reclaimPolicy: Delete
        accessModes: ["ReadWriteMany"]
        volumeBindingMode: Immediate
        allowVolumeExpansion: true
        parameters:
          fsType: nfs
        mountOptions:
          - hard
          - intr
          - noatime
          - noresvport
          - nfsvers=4.2
          - rsize=1048576
          - wsize=1048576
    volumeSnapshotClasses:
      - name: truenas-nfs-snapclass
        deletionPolicy: Delete
    driver:
      config:
        driver: freenas-api-nfs
        instance_id: *app
        httpConnection:
          protocol: https
          host: ${SECRET_NFS_SERVER}
          port: 443
          apiKey: ${DEMOCRATIC_CSI_API_KEY}
          allowInsecure: false
        zfs:
          datasetParentName: apps/democratic-csi/nfs/v
          detachedSnapshotsDatasetParentName: apps/democratic-csi/nfs/s
          datasetEnableQuotas: true
          datasetEnableReservation: false
          datasetPermissionsMode: "0777"
          datasetPermissionsUser: 0
          datasetPermissionsGroup: 0
          datasetProperties:
            "org.freenas:description": "{{ parameters.[csi.storage.k8s.io/pvc/namespace] }}/{{ parameters.[csi.storage.k8s.io/pvc/name] }}"
          cli:
            sudoEnabled: true
        nfs:
          shareHost: ${SECRET_NFS_SERVER}
          shareAlldirs: false
          shareAllowedHosts: []
          shareAllowedNetworks: []
          shareMaprootUser: root
          shareMaprootGroup: root
          shareMapallUser: ""
          shareMapallGroup: ""
          shareCommentTemplate: "{{ parameters.[csi.storage.k8s.io/pvc/namespace] }}-{{ parameters.[csi.storage.k8s.io/pvc/name] }}"

    controller:
      driver:
        image:
          registry: ghcr.io/democratic-csi/democratic-csi
          # renovate: datasource=docker depName=ghcr.io/democratic-csi/democratic-csi
          tag: next
          pullPolicy: IfNotPresent

    node:
      driver:
        image:
          registry: ghcr.io/democratic-csi/democratic-csi
          # renovate: datasource=docker depName=ghcr.io/democratic-csi/democratic-csi
          tag: next
          pullPolicy: IfNotPresent
      tolerations:
        - key: "node.kubernetes.io/low-power"
          operator: "Equal"
          value: "raspberry-pi"
          effect: "NoSchedule"
