---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/external-secrets.io/externalsecret_v1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: &name prowlarr-secret
spec:
  secretStoreRef:
    name: bitwarden-secrets-manager
    kind: ClusterSecretStore
  target:
    name: *name
    template:
      engineVersion: v2
      data:
        # App config
        PROWLARR__AUTH__APIKEY: "{{ .Prowlarr__ApiKey }}"
        PROWLARR__POSTGRES__HOST: &dbHost postgres16-rw.database.svc.cluster.local
        PROWLARR__POSTGRES__PORT: "5432"
        PROWLARR__POSTGRES__USER: &dbUser "{{ .Prowlarr__Postgres__User }}"
        PROWLARR__POSTGRES__PASSWORD: &dbPass "{{ .Prowlarr__Postgres__Password }}"
        PROWLARR__POSTGRES__MAINDB: prowlarr_main
        PROWLARR__POSTGRES__LOGDB: prowlarr_log
        # Init container config
        INIT_POSTGRES_HOST: *dbHost
        INIT_POSTGRES_USER: *dbUser
        INIT_POSTGRES_PASS: *dbPass
        INIT_POSTGRES_DBNAME: prowlarr_main;prowlarr_log
        INIT_POSTGRES_SUPER_PASS: "{{ .Postgres__SuperPassword }}"
  dataFrom:
    - extract:
        key: prowlarr
    - extract:
        key: cloudnative-pg

