---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2beta2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app onlyflans
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: onlyflans
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  values:
    controllers:
      onlyflans:
        type: deployment
        replicas: 1
        strategy: RollingUpdate
        containers:
          app:
            image:
              repository: caddy
              tag: 2-alpine
            args:
              - caddy
              - file-server
              - --root
              - /srv
              - --listen
              - :8080
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /
                    port: &port 8080
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }
            resources:
              requests:
                cpu: 10m
                memory: 16Mi
              limits:
                memory: 64Mi
        pod:
          securityContext:
            runAsUser: 1000
            runAsGroup: 1000
            runAsNonRoot: true
            seccompProfile:
              type: RuntimeDefault
    service:
      app:
        controller: onlyflans
        ports:
          http:
            port: *port
    persistence:
      html:
        type: configMap
        name: onlyflans-html
        globalMounts:
          - path: /srv/index.html
            subPath: index.html
            readOnly: true
      caddy-config:
        type: emptyDir
        globalMounts:
          - path: /config
      caddy-data:
        type: emptyDir
        globalMounts:
          - path: /data

