---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ./ocirepository.yaml
  - ./helmrelease.yaml
  - ./httproute.yaml
configMapGenerator:
  - name: onlyflans-html
    files:
      - index.html=./resources/index.html
generatorOptions:
  disableNameSuffixHash: true

