---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ./ocirepository.yaml
  - ./helmrelease.yaml
  - ./externalsecret.yaml
  - ./httproute.yaml
components:
  - ../../../../components/volsync
  - ../../../../components/gatus-guarded

