---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/external-secrets.io/externalsecret_v1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: &name actions-runner-controller-auth-secret
spec:
  secretStoreRef:
    name: bitwarden-secrets-manager
    kind: ClusterSecretStore
  target:
    name: *name
    template:
      engineVersion: v2
      data:
        ACTION_RUNNER_CONTROLLER_GITHUB_APP_ID: "{{ .ActionsRunnerController__GithubAppId }}"
        ACTION_RUNNER_CONTROLLER_GITHUB_INSTALLATION_ID: "{{ .ActionsRunnerController__GithubInstallationId }}"
        ACTION_RUNNER_CONTROLLER_GITHUB_PRIVATE_KEY: "{{ .ActionsRunnerController__GithubPrivateKey }}"

  dataFrom:
  - extract:
      key: actions-runner-controller
