---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app vaultwarden
spec:
  commonMetadata:
    labels:
      app.kubernetes.io/name: *app
  dependsOn:
    - name: longhorn
      namespace: longhorn-system
  path: ./kubernetes/apps/identity/vaultwarden/app
  prune: true
  sourceRef:
    kind: GitRepository
    name: home-kubernetes
    namespace: flux-system
  targetNamespace: identity
  wait: false
  interval: 30m
  retryInterval: 1m
  timeout: 5m
  postBuild:
    substitute:
      APP: *app
      NS: identity
      GATUS_SUBDOMAIN: vaultwarden
      # VolSync configuration for Longhorn
      VOLSYNC_CAPACITY: 2Gi
      VOLSYNC_STORAGECLASS: longhorn
      VOLSYNC_CACHE_CLASS: longhorn-1-replica
      VOLSYNC_CLONE_STORAGECLASS: longhorn-1-replica
      VOLSYNC_SNAPSHOTCLASS: longhorn-snapclass
      VOLSYNC_LOCAL_SCHEDULE: "0,30 * * * *"

