---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/external-secrets.io/externalsecret_v1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: &name obsidian-secret
spec:
  secretStoreRef:
    name: bitwarden-secrets-manager
    kind: ClusterSecretStore

  target:
    name: *name
    template:
      engineVersion: v2
      data:
        # HTTP Basic Auth credentials for Obsidian web access
        CUSTOM_USER: "{{ .Obsidian__Username }}"
        PASSWORD: "{{ .Obsidian__Password }}"
  dataFrom:
    - extract:
        key: obsidian

