---
# This Secret is created for flux-local testing purposes only
# In the actual cluster, this is created during bootstrap
apiVersion: v1
kind: Secret
metadata:
  name: sops-age
  namespace: flux-system
type: Opaque
data:
  # Dummy age key for flux-local testing
  age.agekey: QUdFLVNFQ1JFVC1LRVktMTIzNDU2Nzg5MA== # dummy key
