---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: mosquitto
spec:
  chartRef:
    kind: OCIRepository
    name: mosquitto
  interval: 1h
  values:
    controllers:
      mosquitto:
        type: statefulset
        containers:
          app:
            image:
              repository: public.ecr.aws/docker/library/eclipse-mosquitto
              tag: 2.0.22
            env:
              TZ: "${TIMEZONE}"
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }
            resources:
              requests:
                cpu: 10m
              limits:
                memory: 100Mi
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch
    service:
      app:
        type: LoadBalancer
        annotations:
          external-dns.alpha.kubernetes.io/hostname: "mqtt.${SECRET_DOMAIN_MEDIA}"
          lbipam.cilium.io/ips: "${SVC_MOSQUITTO_ADDR}"
        ports:
          mqtt:
            port: 1883
    persistence:
      data:
        existingClaim: ${APP}
        globalMounts:
          - path: /mosquitto/data
            subPath: data
      log:
        type: emptyDir
        globalMounts:
          - path: /mosquitto/log
      passwd-file:
        type: secret
        name: mosquitto-secret
        globalMounts:
          - path: /mosquitto/config
            readOnly: true
