---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/external-secrets.io/externalsecret_v1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: &name unpackerr-secret
spec:
  secretStoreRef:
    name: bitwarden-secrets-manager
    kind: ClusterSecretStore
  target:
    name: *name
    template:
      engineVersion: v2
      data:
        # Sonarr
        UN_SONARR_0_URL: http://sonarr.media.svc.cluster.local:8989
        UN_SONARR_0_API_KEY: "{{ .Sonarr__ApiKey }}"
        UN_SONARR_0_PATHS_0: /media/downloads
        UN_SONARR_0_PROTOCOLS: torrent,usenet
        UN_SONARR_0_TIMEOUT: 10s
        UN_SONARR_0_DELETE_DELAY: 5m
        UN_SONARR_0_DELETE_ORIG: "false"
        # Radarr
        UN_RADARR_0_URL: http://radarr.media.svc.cluster.local:7878
        UN_RADARR_0_API_KEY: "{{ .Radarr__ApiKey }}"
        UN_RADARR_0_PATHS_0: /media/downloads
        UN_RADARR_0_PROTOCOLS: torrent,usenet
        UN_RADARR_0_TIMEOUT: 10s
        UN_RADARR_0_DELETE_DELAY: 5m
        UN_RADARR_0_DELETE_ORIG: "false"
        # Lidarr
        UN_LIDARR_0_URL: http://lidarr.media.svc.cluster.local:8686
        UN_LIDARR_0_API_KEY: "{{ .Lidarr__ApiKey }}"
        UN_LIDARR_0_PATHS_0: /media/downloads
        UN_LIDARR_0_PROTOCOLS: torrent,usenet
        UN_LIDARR_0_TIMEOUT: 10s
        UN_LIDARR_0_DELETE_DELAY: 5m
        UN_LIDARR_0_DELETE_ORIG: "false"
        # Readarr-ebooks
        UN_READARR_0_URL: http://readarr-ebooks.media.svc.cluster.local:8787
        UN_READARR_0_API_KEY: "{{ .ReadarrEbooks__ApiKey }}"
        UN_READARR_0_PATHS_0: /media/downloads
        UN_READARR_0_PROTOCOLS: torrent,usenet
        UN_READARR_0_TIMEOUT: 10s
        UN_READARR_0_DELETE_DELAY: 5m
        UN_READARR_0_DELETE_ORIG: "false"
        # Readarr-audiobooks
        UN_READARR_1_URL: http://readarr-audiobooks.media.svc.cluster.local:8787
        UN_READARR_1_API_KEY: "{{ .ReadarrAudiobooks__ApiKey }}"
        UN_READARR_1_PATHS_0: /media/downloads
        UN_READARR_1_PROTOCOLS: torrent,usenet
        UN_READARR_1_TIMEOUT: 10s
        UN_READARR_1_DELETE_DELAY: 5m
        UN_READARR_1_DELETE_ORIG: "false"
  dataFrom:
    - extract:
        key: sonarr
    - extract:
        key: radarr
    - extract:
        key: lidarr
    - extract:
        key: readarr-ebooks
    - extract:
        key: readarr-audiobooks

