---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: multus
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: multus
  maxHistory: 2
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    cni:
      # Talos Linux CNI paths
      binPath: /opt/cni/bin
      netPath: /etc/cni/net.d
    multus:
      resources:
        requests:
          cpu: 10m
          memory: 32Mi
        limits:
          memory: 512Mi

