---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app qbittorrent
spec:
  commonMetadata:
    labels:
      app.kubernetes.io/name: *app
  dependsOn:
    - name: external-secrets-stores
      namespace: external-secrets
  interval: 1h
  path: ./kubernetes/apps/download/qbittorrent/app
  prune: true
  sourceRef:
    kind: GitRepository
    name: home-kubernetes
    namespace: flux-system
  targetNamespace: download
  wait: false
  postBuild:
    substitute:
      APP: *app
      NS: download
      GATUS_PORT: "8080"
      GATUS_SERVICE: qbittorrent-app
      VOLSYNC_CAPACITY: 4Gi
      VOLSYNC_STORAGECLASS: truenas-iscsi
      VOLSYNC_CACHE_CLASS: truenas-iscsi
      VOLSYNC_CLONE_STORAGECLASS: truenas-iscsi
      VOLSYNC_SNAPSHOTCLASS: truenas-iscsi-snapclass