---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/external-secrets.io/externalsecret_v1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: &name atuin-secret
spec:
  secretStoreRef:
    name: bitwarden-secrets-manager
    kind: ClusterSecretStore

  target:
    name: *name
    template:
      engineVersion: v2
      data:
        # Postgres Init container variables
        INIT_POSTGRES_DBNAME: "{{ .Atuin__PostgresDbname }}"
        INIT_POSTGRES_HOST: postgres16-rw.database.svc.cluster.local
        INIT_POSTGRES_USER: "{{ .Atuin__PostgresUser }}"
        INIT_POSTGRES_PASS: "{{ .Atuin__PostgresPass }}"
        INIT_POSTGRES_SUPER_PASS: "{{ .Postgres__SuperPassword }}"
        # Atuin database connection string
        ATUIN_DB_URI: "postgres://{{ .Atuin__PostgresUser }}:{{ .Atuin__PostgresPass }}@postgres16-rw.database.svc.cluster.local:5432/{{ .Atuin__PostgresDbname }}"

  dataFrom:
    - extract:
        key: atuin
    - extract:
        key: cloudnative-pg

