---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app frigate
spec:
  commonMetadata:
    labels:
      app.kubernetes.io/name: *app
  dependsOn:
    - name: cloudnative-pg-cluster
      namespace: database
    - name: external-secrets-stores
      namespace: external-secrets
    - name: mosquitto
      namespace: home
  interval: 1h
  path: ./kubernetes/apps/home/frigate/app
  prune: true
  sourceRef:
    kind: GitRepository
    name: home-kubernetes
    namespace: flux-system
  targetNamespace: home
  wait: false
  postBuild:
    substitute:
      APP: *app
      NS: home
      VOLSYNC_CAPACITY: 10Gi
      VOLSYNC_STORAGECLASS: truenas-nfs
      VOLSYNC_SNAPSHOTCLASS: truenas-nfs-snapclass

