---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ./ocirepository.yaml
  - ./helmrelease.yaml
  # Note: envoy.yaml, gateways.yaml and securitypolicy.yaml are deployed
  # via a separate kustomization that depends on the HelmRelease for CRDs

