---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app sabnzbd
spec:
  chartRef:
    kind: OCIRepository
    name: sabnzbd
  interval: 1h
  values:
    controllers:
      sabnzbd:
        type: deployment
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/home-operations/sabnzbd
              tag: rolling
            env:
              SABNZBD__PORT: &port 8080
              SABNZBD__HOST_WHITELIST_ENTRIES: >-
                sabnzbd,
                sabnzbd.download,
                sabnzbd.download.svc,
                sabnzbd.download.svc.cluster,
                sabnzbd.download.svc.cluster.local,
                sabnzbd.${SECRET_DOMAIN}
              TZ: "${TIMEZONE}"
            envFrom:
              - secretRef:
                  name: sabnzbd-secret
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /api?mode=version
                    port: *port
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 5
                  failureThreshold: 6
              readiness: *probes
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: {drop: ["ALL"]}
            resources:
              requests:
                cpu: 100m
                memory: 256Mi
              limits:
                memory: 4Gi
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 568
        runAsGroup: 568
        fsGroup: 568
        fsGroupChangePolicy: OnRootMismatch
    service:
      app:
        controller: sabnzbd
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/name: "SABnzbd"
          gethomepage.dev/group: "Downloads"
          gethomepage.dev/icon: "sabnzbd.png"
          gethomepage.dev/description: "Usenet Downloader"
          gethomepage.dev/widget.type: "sabnzbd"
          gethomepage.dev/widget.url: "http://sabnzbd.download.svc.cluster.local:8080"
          gethomepage.dev/widget.key: "{{`{{HOMEPAGE_VAR_SABNZBD_TOKEN}}`}}"
        ports:
          http:
            port: *port
    route:
      app:
        labels:
          auth: authentik
        parentRefs:
          - name: internal
            namespace: network
            sectionName: https
        hostnames:
          - sabnzbd.${SECRET_DOMAIN}
    persistence:
      config:
        existingClaim: *app
      tmp:
        type: emptyDir
      media:
        type: nfs
        server: ${SECRET_NFS_SERVER:=temp}
        path: ${SECRET_NFS_MEDIA:=temp}
        globalMounts:
          - path: /media

