---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app audiobookshelf
spec:
  commonMetadata:
    labels:
      app.kubernetes.io/name: *app
  interval: 1h
  path: ./kubernetes/apps/media/audiobookshelf/app
  prune: true
  sourceRef:
    kind: GitRepository
    name: home-kubernetes
    namespace: flux-system
  targetNamespace: media
  wait: false
  postBuild:
    substitute:
      APP: *app
      NS: media
      GATUS_SUBDOMAIN: audiobooks
      GATUS_PORT: "80"
      GATUS_SERVICE: audiobookshelf
      VOLSYNC_CAPACITY: 5Gi
      VOLSYNC_LOCAL_SCHEDULE: "*/30 * * * *"