---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app notifiarr
spec:
  chartRef:
    kind: OCIRepository
    name: notifiarr
  interval: 1h
  values:
    controllers:
      notifiarr:
        type: deployment
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/notifiarr/notifiarr
              # renovate: datasource=docker depName=ghcr.io/notifiarr/notifiarr
              tag: v0.9.2
            env:
              TZ: "${TIMEZONE}"
              DN_BIND_ADDR: 0.0.0.0:5454
              DN_LOG_FILE: ""
              DN_LOG_FILE_MB: "0"
              DN_UPDATE_INTERVAL: 5m
            envFrom:
              - secretRef:
                  name: notifiarr-secret
            probes:
              liveness:
                enabled: true
              readiness:
                enabled: true
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: {drop: ["ALL"]}
            resources:
              requests:
                cpu: 10m
                memory: 128Mi
              limits:
                memory: 512Mi
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 568
        runAsGroup: 568
        fsGroup: 568
        fsGroupChangePolicy: OnRootMismatch
    service:
      app:
        controller: notifiarr
        ports:
          http:
            port: 5454
    route:
      app:
        annotations:
          gatus.home-operations.com/endpoint: |
            group: media
          gethomepage.dev/enabled: "true"
          gethomepage.dev/name: "Notifiarr"
          gethomepage.dev/group: "Media"
          gethomepage.dev/icon: "notifiarr.png"
          gethomepage.dev/description: "Notifications"
        labels:
          auth: authentik
        parentRefs:
          - name: internal
            namespace: network
            sectionName: https
        hostnames:
          - notifiarr.${SECRET_DOMAIN}
    persistence:
      config:
        existingClaim: *app
        globalMounts:
          - path: /config
      tmp:
        type: emptyDir

