---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/kustomization-kustomize-v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app tautulli
spec:
  commonMetadata:
    labels:
      app.kubernetes.io/name: *app
  dependsOn:
    - name: external-secrets-stores
      namespace: external-secrets
  interval: 30m
  path: "./kubernetes/apps/media/tautulli/app"
  prune: true
  sourceRef:
    kind: GitRepository
    name: home-kubernetes
    namespace: flux-system
  targetNamespace: media
  wait: false # no flux ks dependents
  postBuild:
    substitute:
      APP: *app
      VOLSYNC_CAPACITY: 4Gi
      VOLSYNC_CACHE_CAPACITY: 4Gi