---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app calibre-web
spec:
  chartRef:
    kind: OCIRepository
    name: calibre-web
  interval: 1h
  values:
    controllers:
      calibre-web:
        type: deployment
        containers:
          app:
            image:
              repository: ghcr.io/linuxserver/calibre-web
              # renovate: datasource=docker depName=ghcr.io/linuxserver/calibre-web versioning=regex:^(?<major>\d+)\.(?<minor>\d+)\.(?<patch>\d+)(-ls(?<build>\d+))?$
              tag: 0.6.25
            env:
              TZ: "${TIMEZONE}"
              PUID: 568
              PGID: 568
              CACHE_DIR: /cache
            probes:
              liveness:
                enabled: true
              readiness:
                enabled: true
            resources:
              requests:
                cpu: 50m
                memory: 128Mi
              limits:
                memory: 512Mi
    defaultPodOptions:
      securityContext:
        fsGroup: 568
        fsGroupChangePolicy: OnRootMismatch
    service:
      app:
        controller: calibre-web
        ports:
          http:
            port: 8083
    route:
      app:
        annotations:
          gatus.home-operations.com/endpoint: |
            group: media
          gethomepage.dev/enabled: "true"
          gethomepage.dev/name: "Calibre Web"
          gethomepage.dev/group: "Books"
          gethomepage.dev/icon: "calibre-web.png"
          gethomepage.dev/description: "eBook Library"
          gethomepage.dev/widget.type: "calibreweb"
          gethomepage.dev/widget.url: "http://calibre-web.media.svc.cluster.local:8083"
          gethomepage.dev/widget.username: "{{`{{HOMEPAGE_VAR_CALIBRE_USERNAME}}`}}"
          gethomepage.dev/widget.password: "{{`{{HOMEPAGE_VAR_CALIBRE_PASSWORD}}`}}"
        labels:
          auth: authentik
        parentRefs:
          - name: internal
            namespace: network
            sectionName: https
        hostnames:
          - ebooks.${SECRET_DOMAIN}
    persistence:
      config:
        existingClaim: *app
        globalMounts:
          - path: /config
      cache:
        type: emptyDir
        globalMounts:
          - path: /cache
      media:
        type: nfs
        server: ${SECRET_NFS_SERVER:=temp}
        path: ${SECRET_NFS_MEDIA:=temp}
        globalMounts:
          - path: /media

