---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app x-haven-server
  namespace: games
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: x-haven-server
  maxHistory: 3
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    defaultPodOptions:
      nodeSelector:
        kubernetes.io/arch: amd64


    controllers:
      x-haven-server:
        containers:
          app:
            image:
              repository: docker.io/aschneem/x-haven-server
              # renovate: datasource=docker depName=docker.io/aschneem/x-haven-server
              tag: latest@sha256:3f0d6b2064f2439972dc08192a7be86046494f3859c515e83885b3b30b656f8b
            env:
              TZ: "${TIMEZONE}"
            ports:
              - name: "api"
                containerPort: &port 4567
                protocol: TCP
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: false
              capabilities:
                drop:
                  - ALL
            probes:
              startup:
                enabled: false
              liveness:
                enabled: false
              readiness:
                enabled: false
            resources:
              requests:
                memory: 4Gi
              limits:
                memory: 8Gi



    service:
      app:
        enabled: true
        controller: *app
        type: LoadBalancer
        allocateLoadBalancerNodePorts: true
        annotations:
          external-dns.alpha.kubernetes.io/hostname: "xha.${SECRET_DOMAIN}"
          lbipam.cilium.io/ips: "${SVC_XHA_ADDR}"
        externalTrafficPolicy: Local
        ports:
          game-tcp:
            enabled: true
            primary: true
            port: *port
            protocol: TCP

