---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/external-secrets.io/externalsecret_v1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: &name lidarr-secret
spec:
  secretStoreRef:
    name: bitwarden-secrets-manager
    kind: ClusterSecretStore
  target:
    name: *name
    template:
      engineVersion: v2
      data:
        # App config
        LIDARR__AUTH__APIKEY: "{{ .Lidarr__ApiKey }}"
        LIDARR__POSTGRES__HOST: &dbHost postgres16-rw.database.svc.cluster.local
        LIDARR__POSTGRES__PORT: "5432"
        LIDARR__POSTGRES__USER: &dbUser "{{ .Lidarr__Postgres__User }}"
        LIDARR__POSTGRES__PASSWORD: &dbPass "{{ .Lidarr__Postgres__Password }}"
        LIDARR__POSTGRES__MAINDB: lidarr_main
        LIDARR__POSTGRES__LOGDB: lidarr_log
        # Init container config
        INIT_POSTGRES_HOST: *dbHost
        INIT_POSTGRES_USER: *dbUser
        INIT_POSTGRES_PASS: *dbPass
        INIT_POSTGRES_DBNAME: lidarr_main;lidarr_log
        INIT_POSTGRES_SUPER_PASS: "{{ .Postgres__SuperPassword }}"
  dataFrom:
    - extract:
        key: lidarr
    - extract:
        key: cloudnative-pg

