---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app smtp-relay
spec:
  chartRef:
    kind: OCIRepository
    name: smtp-relay
  interval: 30m
  values:
    controllers:
      smtp-relay:
        replicas: 2
        strategy: RollingUpdate
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/foxcpp/maddy
              tag: 0.8.2@sha256:eeb5813fc4d101ec5d8f7b08b7255fd76ced2a06884ea94450c8a9a22fd6a08d
            env:
              SMTP_RELAY_SMTP_PORT: &port 25
              SMTP_RELAY_METRICS_PORT: &metricsPort 8080
              SMTP_RELAY_SERVER_PORT: 465
            envFrom:
              - secretRef:
                  name: smtp-relay
            probes:
              liveness:
                enabled: true
              readiness:
                enabled: true
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }
            resources:
              requests:
                cpu: 10m
              limits:
                memory: 128Mi
        pod:
          nodeSelector:
            kubernetes.io/arch: amd64
          securityContext:
            runAsUser: 568
            runAsGroup: 568
            runAsNonRoot: true
          topologySpreadConstraints:
            - maxSkew: 1
              topologyKey: kubernetes.io/hostname
              whenUnsatisfiable: DoNotSchedule
              labelSelector:
                matchLabels:
                  app.kubernetes.io/name: *app
    service:
      app:
        controller: smtp-relay
        type: LoadBalancer
        annotations:
          external-dns.alpha.kubernetes.io/hostname: "smtp-relay.${SECRET_DOMAIN}"
          lbipam.cilium.io/ips: "${SVC_SMTP_RELAY_ADDR}"
        externalTrafficPolicy: Local
        ports:
          http:
            primary: true
            port: *metricsPort
          smtp:
            port: *port
    serviceMonitor:
      app:
        serviceName: smtp-relay
        endpoints:
          - port: http
            scheme: http
            path: /metrics
            interval: 1m
            scrapeTimeout: 10s
    configMaps:
      config:
        data:
          maddy.conf: |-
            state_dir /cache/state
            runtime_dir /cache/run
            tls off
            hostname {env:SMTP_RELAY_HOSTNAME}
            smtp tcp://0.0.0.0:{env:SMTP_RELAY_SMTP_PORT} {
                default_source {
                    deliver_to &remote_queue
                }
            }
            target.queue remote_queue {
                target &remote_smtp
            }
            target.smtp remote_smtp {
                attempt_starttls yes
                require_tls yes
                auth plain {env:SMTP_RELAY_USERNAME} {env:SMTP_RELAY_PASSWORD}
                targets tls://{env:SMTP_RELAY_SERVER}:{env:SMTP_RELAY_SERVER_PORT}
            }
            openmetrics tcp://0.0.0.0:{env:SMTP_RELAY_METRICS_PORT} { }
    persistence:
      cache:
        type: emptyDir
      config-file:
        type: configMap
        identifier: config
        globalMounts:
          - path: /data/maddy.conf
            subPath: maddy.conf

