---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: openebs
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: openebs
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    # Only enable hostpath local provisioner
    localpv-provisioner:
      enabled: true
      hostpathClass:
        enabled: true
        name: openebs-hostpath
        isDefaultClass: false
        basePath: /var/openebs/local

    # Disable all other components
    jiva:
      enabled: false
    cstor:
      enabled: false
    ndm:
      enabled: false
    ndmOperator:
      enabled: false
    mayastor:
      enabled: false
    lvm-localpv:
      enabled: false
    zfs-localpv:
      enabled: false

