---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: network
components:
  - ../../components/common
  - ../../components/psa-privileged
resources:
  - ./namespace.yaml
  - ./cloudflare-tunnel/ks.yaml
  - ./echo-server/ks.yaml
  - ./envoy-gateway/ks.yaml
  - ./external-dns/ks.yaml
  - ./external-services/garage/ks.yaml
  - ./tailscale/ks.yaml
