---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: storage
components:
  - ../../components/common
resources:
  - ./namespace.yaml
  - ./democratic-csi/ks.yaml
  # - ./seaweedfs/ks.yaml  # Removed - Thanos migrated to Garage S3; Loki removed
  # - ./seaweedfs-jobs/ks.yaml  # Removed - depends on seaweedfs
